body {
    text-align: center;
    vertical-align: middle;
    background: rgb(248,248,255);
    background: radial-gradient(circle, rgba(248,248,255,1) 75%, rgba(153,204,102,1) 100%);
}

div#login-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div#products-container {
    padding: 1rem;
    width: stretch;
    height: auto;
}

.products-display{
    text-align: center;
    border: grey solid 1px;
    padding: 3rem;
    width: 8rem;
    height: 8rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #99cc66
}

.btns {
    margin-top: 3%;
  margin-left: 0%;
  float: left;
  width: 50%;
}

h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;

}

.account-info {
    margin-top: 3%;
  margin-left: 0%;
  float: left;
  width: 50%;
}


.form-inner {
    padding: 40px;
}

.form-inner input,
.form-inner textarea {
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
}
    
.form-inner textarea {
    resize: both;
}
    
button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #3e4f24;
    background: #99cc66; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
    
button:hover {
    background: #99cc66;
} 
    
@media (min-width: 568px) {
     form {
    width: 60%;
    }
}

li {
    list-style-image: radial-gradient(#ddd, #99cc66);
    list-style-type: circle;
}







