body {
    text-align: center;
    vertical-align: middle;
    background: rgb(248,248,255);
    background: radial-gradient(circle, rgba(248,248,255,1) 75%, rgba(153,204,102,1) 100%);
}

div#login-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div#products-container {
    padding: 1rem;
    width: stretch;
    height: auto;
}

.products-display{
    text-align: center;
    border: grey solid 1px;
    padding: 3rem;
    width: 8rem;
    height: 8rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #99cc66
}

.btns {
    margin-top: 3%;
  margin-left: 0%;
  float: left;
  width: 50%;
}





